body {
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
}

.playerSelect h1 {
  text-align: center;
  font-size: 24px;
}
#instruction {
  padding: 1em;
}

.playerSelect {
  margin-top: 10em;
  background-color: rgba(211, 211, 211, 0.9);
  width: 75%;
}

.character {
  margin: 2em;
  text-align: center;
}

.charSelectImage,
.battleImage {
  max-width: 160px;
  height: 175px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
